<h1><%= @project.title%></h1>

<p><b>Team: </b><%= link_to @project.team.name, team_url(@project.team) %></p>

<p><b>Description: </b></p>
<blockquote><%= @project.description %></blockquote>

<p><%=link_to "View the items for this project", project_items_url(@project)%>

<!-- <p>
	<% unless @project.items.empty? %>
		<ul>
		<% @project.items.each do |item| %>
		  <li><%#= link_to item.title, item_url(item) %></li>
		<% end %>
	    </ul>
	<% end %>
</p> -->

<p><%= link_to "Add an item to this project", new_project_item_url(@project) %></p>

<p><%= link_to "Edit this project", edit_project_url(@project) %></p>

<p><%= link_to "Delete project", project_url(@project), :method => :delete,
	   confirm: "Do you really want to delete #{@project.title}?"%></p>

<p><%= link_to "Return to Project List", projects_url %></p>