<h1> <%= @item.title %> for <%= @item.project.title %></h1>
	
<blockquote><%= @item.description %></blockquote>

<p>Status: <%= @item.done? %></p>

<p><%= link_to "Edit this item", edit_item_url(@item) %></p>

<p><%= link_to "Delete item", item_url(@item), :method => :delete,
	   confirm: "Do you really want to delete #{@item.title}?"%></p>

<p><%= link_to "Return to Items List", items_url %></p>
